{% extends "layout.html" %}

{% block title %}Sign In{% endblock %}

{% block body %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}

    {{ form.username.label }}
    {{ form.username }}
    {% if form.username.errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {{ form.password.label }}
    {{ form.password }}
    {% if form.password.errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <input type="submit" class="button-primary" value="Sign In">
</form>
{% endblock %}
